body {
  /* Positioning */
  margin: 0;

  /* Box-model */
  height: 100vh;

  /* Typography */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Visual */
  background-color: #282c34;

  /* Misc */
  opacity: 1;
}
