body {
  /* Positioning */
  margin: 0;

  /* Box-model */
  height: 100vh;

  /* Typography */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Visual */
  background-color: #282c34;

  /* Misc */
  opacity: 1;
}
